USE [master]
GO
/****** Object:  Database [SuSatisDb]    Script Date: 15.12.2019 22:55:40 ******/
CREATE DATABASE [SuSatisDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SuSatisDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SuSatisDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SuSatisDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SuSatisDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SuSatisDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SuSatisDb]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 15.12.2019 22:55:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[MusteriId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Tel] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](50) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Musteri] PRIMARY KEY CLUSTERED 
(
	[MusteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siparis]    Script Date: 15.12.2019 22:55:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siparis](
	[SiparisId] [int] IDENTITY(1,1) NOT NULL,
	[MusteriId] [int] NULL,
	[Tutar] [int] NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[Durum] [int] NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_Siparis] PRIMARY KEY CLUSTERED 
(
	[SiparisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Musteri] ON 

INSERT [dbo].[Musteri] ([MusteriId], [Ad], [Soyad], [Tel], [Adres], [AktifMi]) VALUES (1, N'Büşra', N'Çınar', N'5357217675', N'Küçükçekmece', 0)
INSERT [dbo].[Musteri] ([MusteriId], [Ad], [Soyad], [Tel], [Adres], [AktifMi]) VALUES (2, N'Eda', N'Altıntaş', N'5356987421', N'Pendik', 0)
SET IDENTITY_INSERT [dbo].[Musteri] OFF
SET IDENTITY_INSERT [dbo].[Siparis] ON 

INSERT [dbo].[Siparis] ([SiparisId], [MusteriId], [Tutar], [Tarih], [Durum], [AktifMi]) VALUES (1, 1, 90, CAST(N'2019-12-15T22:52:51.330' AS DateTime), 2, 0)
INSERT [dbo].[Siparis] ([SiparisId], [MusteriId], [Tutar], [Tarih], [Durum], [AktifMi]) VALUES (2, 2, 80, CAST(N'2019-12-15T22:53:02.410' AS DateTime), 1, 0)
INSERT [dbo].[Siparis] ([SiparisId], [MusteriId], [Tutar], [Tarih], [Durum], [AktifMi]) VALUES (3, 1, 100, CAST(N'2019-12-15T22:53:25.890' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[Siparis] OFF
ALTER TABLE [dbo].[Musteri] ADD  CONSTRAINT [DF_Musteri_AktifMi]  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Siparis]  WITH CHECK ADD  CONSTRAINT [FK_Siparis_Musteri] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[Musteri] ([MusteriId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Siparis] CHECK CONSTRAINT [FK_Siparis_Musteri]
GO
USE [master]
GO
